name: Deploy ACI with Bicep

on:
  push:
    branches: [ main ]
    paths:
      - "infra/**"
  workflow_dispatch:

permissions:
  id-token: write    
  contents: read

env:
  RG_NAME: rg_azure_containers
  LOCATION: westeurope
  DNS_LABEL: aci-${{ github.run_id }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: az login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Ensure resource group
        uses: azure/cli@v2
        with:
          inlineScript: |
            az group create -n "$RG_NAME" -l "$LOCATION"

      - name: Deploy Bicep
        id: deploy
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.RG_NAME }}
          template: infra/main.bicep
          parameters: >
            @infra/parameters.json
            dnsLabel=${{ env.DNS_LABEL }}
            location=${{ env.LOCATION }}

      - name: Show app URL
        uses: azure/cli@v2
        with:
          inlineScript: |
            URL=$(az container show -g "$RG_NAME" -n hello-aci --query "ipAddress.fqdn" -o tsv)
            echo "App URL: http://$URL"
            echo "App URL: http://$URL" >> $GITHUB_STEP_SUMMARY
